.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: cadetblue;
}

.header {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-formulario {
}
.container-cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: cadetblue;
  margin: 50px;
}
.container-card {
  padding: 4 em;
  border: 3px solid #e1e1e1;
  background-color: #fff;
  margin: auto;
  border-radius: 0.2 em;
  box-shadow: 2px 2px 7px 2px rgba(0, 0, 0, 0.2);
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: bisque;
}

.button {
  width: 100%;
}

.images {
  width: 250px;
  height: 180px;
  border-radius: 5%;
}
.description {
  display: flex;
  text-align: center;
  margin: 10px;
}
